<div class="container-fluid">
<div class="row">
  <div class="col pl-0 pr-0">
    <img class='coverindex' src='<%= asset_path 'twitter_index.png' %>' alt="cover">
    
  </div>
  <div class="col"><br><br>
    <div><i class="fab fa-twitter fa-2x bird" ></i></div>
    <div class="text1">
      <span>Happening now</span>
    </div><br>
    <div class="text2">
      <span>Join Twitter today.</span>
    </div><br>

    <div>
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn1" %>
    </div>

    <div>
      <%= link_to 'Sign In', new_user_session_path, class: "btn2" %>
    </div>    

  </div>
</div>
 