who to follow
<% @users.each do |user| %>
  <% if current_user.id != user.id %>
    <div class="card w-50">
      <div class="card-body">
        <p class="card-text">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
          </figure>
          <p>
            <strong><%= user.name %></strong><br />
            <small><%= user.username %></small>
          </p>
          <p>
            <%= render 'follow-button', user: user %>
          </p>
        </p>  
      </div>
      </div>
    </nav>
  </div>      
  <% end %>
<% end %>