<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="col-8">
      <%= render 'feed' %>
    </div>
    <div class="col">
      <%= render 'who-to-follow' %>
    </div>
  </div>
</div>

<%= will_paginate @tweets %>