Followers
<%if user_signed_in? %>
  <div>
  <h1> You are followed by </h1>
  <% if @followers.nil? %>
    <% current_user.followers.each do |follower| %>
      <%= follower.name %>
      <%= follower.username %>
      <%= render partial: "tweets/follow-button", locals: {user: follower} %>
    <% end %>
  <% else %>
      <h1 class="display-4 text-center"> Nobody has follow yet </h1>
  <% end %>
  </div>
<% end %>

