@import 'bootstrap/dist/css/bootstrap';

.coverindex {
  position: absolute;
  z-index: -1;
  height: 40vw;
  width: 45vw;  
}

.fab fa-twitter {
  position: relative;
}

.bird {
  color: #1199fa;
}

.text1 {
  font-size: 65px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text2 {
  font-size: 30px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn1 {
  background-color: #1199fa; /* Twitter blue */
  border: 2px solid #1199fa;
  border-radius: 25px;
  color: white;
  padding: 10px 160px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn2 {
  background-color: white;
  border-radius: 25px;
  color: #1199fa;
  border: 2px solid #1199fa;
  padding: 10px 160px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn3 {
  background-color: #1199fa; /* Twitter blue */
  border: 2px solid #1199fa;
  border-radius: 25px;
  color: white;
  padding: 10px 50px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

