<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4 text-white">Hello Koombeans!</h1>
        <p class="lead">Welcome to the our social media, in this space you find information about peers and other topics about the Koombea world.</p>
        <hr class="my-4">
        <p>Don't count the days, make the days count...Go Head!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button" id="btn-koombea">Sign Up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "KOOMBEA", "https://www.koombea.com", class: "text-white" %></small>
  </div>
</footer>
